In [236]:
import pandas as pd

In [237]:
df = pd.read_csv('cricket_data.csv')

In [238]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [239]:
df = df.rename(columns={'HS':'Highest Score','NO':'Not_outs','BF':'Balls_Faced','SR':'Strike_rate','Mat':'Matches'})

In [240]:
df.head()

,Player,Span,Matches,Inns,Not_outs,Runs,Highest Score,Ave,Balls_Faced,Strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1

In [241]:
df.head(20)

,Player,Span,Matches,Inns,Not_outs,Runs,Highest Score,Ave,Balls_Faced,Strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
5,H Sutcliffe (ENG),1924-1935,54,84,9,4555,194,60.73,6558+,34.59,16,23,2,202,6
6,E Paynter (ENG),1931-1939,20,31,5,1540,243,59.23,1288+,45.88,4,7,3,125,4
7,KF Barrington (ENG),1955-1968,82,131,15,6806,256,58.67,4957+,42.42,20,35,5,591,27
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,NaN,0.00,15,19,6,258,2
9,WR Hammond (ENG),1927-1947,85,140,16,7249,336*,58.45,7491+,38.07,22,24,4,419,27
10,GS Sobers (WI),1954-1974,93,160,21,8032,365*,57.78,4063+,53.58,26,30,12,593,32
11,KC Sangakkara (SL),2000-2015,134,233,17,12400,319,57.40,22882,54.19,38,52,11,1491,51
12,SPD Smith (AUS),2010-2024,109,195,25,9685,239,56.97,18100,53.50,32,41,10,1063,54
13,JB Hobbs (ENG),1908-1930,61,102,7,5410,211,56.94,5363+,46.22,15,28,4,276,8
14,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,NaN,0.00,15,14,1,107,11
15,L Hutton (ENG),1937-1955,79,138,15,6971,364,56.67,2844+,39.34,19,33,5,358,7
16,JH Kallis (ICC/SA),1995-2013,166,280,40,13289,224,55.37,28903,45.97,45,58,16,1488,97
17,GE Tyldesley (ENG),1921-1929,14,20,2,990,122,55.00,178+,29.21,3,6,2,37,2
18,KS Williamson (NZ),2010-2024,100,176,17,8743,251,54.98,17006,51.41,32,34,11,971,24
19,CA Davis (WI),1968-1973,15,29,5,1301,183,54.20,665+,35.48,4,4,1,65,1

In [242]:
df

,Player,Span,Matches,Inns,Not_outs,Runs,Highest Score,Ave,Balls_Faced,Strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [243]:
df.isnull().any()

Player           False
Span             False
Matches          False
Inns             False
Not_outs         False
Runs             False
Highest Score    False
Ave              False
Balls_Faced       True
Strike_rate      False
100              False
50               False
0                False
4s               False
6s               False
dtype: bool

In [244]:
df[df['Balls_Faced'].isna()==1].any()

Player            True
Span              True
Matches           True
Inns              True
Not_outs          True
Runs              True
Highest Score     True
Ave               True
Balls_Faced      False
Strike_rate      False
100               True
50                True
0                 True
4s                True
6s                True
dtype: bool

In [245]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [246]:
df[df['Balls_Faced'] == 0]

,Player,Span,Matches,Inns,Not_outs,Runs,Highest Score,Ave,Balls_Faced,Strike_rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81,5,4455,207,58.61,0,0.0,15,19,6,258,2
14,CL Walcott (WI),1948-1960,44,74,7,3798,220,56.68,0,0.0,15,14,1,107,11
54,Hon.FS Jackson (ENG),1893-1905,20,33,4,1415,144*,48.79,0,0.0,5,6,3,51,0

In [247]:
df[df['Player'].duplicated()==1].any()

Player           False
Span             False
Matches          False
Inns             False
Not_outs         False
Runs             False
Highest Score    False
Ave              False
Balls_Faced      False
Strike_rate      False
100              False
50               False
0                False
4s               False
6s               False
dtype: bool

In [248]:
df.drop_duplicates()

,Player,Span,Matches,Inns,Not_outs,Runs,Highest Score,Ave,Balls_Faced,Strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0

In [249]:
date = df['Span'].str.split(
    '-')

In [250]:
df['start_year'] = df['Span'].str.split('-').str[0]

In [251]:
df['end_year'] = df['Span'].str.split('-').str[1]

In [252]:
df

,Player,Span,Matches,Inns,Not_outs,Runs,Highest Score,Ave,Balls_Faced,Strike_rate,100,50,0,4s,6s,start_year,end_year
0,DG Bradman (AUS),1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981
58,GC Smith (ICC/SA),2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
59,WH Ponsford (AUS),1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934
60,SJ McCabe (AUS),1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938
61,DR Jardine (ENG),1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934

In [253]:
df.drop(['Span'], axis = 1)

,Player,Matches,Inns,Not_outs,Runs,Highest Score,Ave,Balls_Faced,Strike_rate,100,50,0,4s,6s,start_year,end_year
0,DG Bradman (AUS),52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948
1,HC Brook (ENG),12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023
2,AC Voges (AUS),20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016
3,RG Pollock (SA),23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970
4,GA Headley (WI),22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters (AUS),74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981
58,GC Smith (ICC/SA),117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014
59,WH Ponsford (AUS),29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934
60,SJ McCabe (AUS),39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938
61,DR Jardine (ENG),22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934

In [254]:
df['country']= df['Player'].str.split('(').str[1]

In [255]:
df['Player'] = df['Player'].str.split('(').str[0]

In [256]:
df['Country']=df['country'].str.split(')').str[0]

In [257]:
df

,Player,Span,Matches,Inns,Not_outs,Runs,Highest Score,Ave,Balls_Faced,Strike_rate,100,50,0,4s,6s,start_year,end_year,country,Country
0,DG Bradman,1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,AUS),AUS
1,HC Brook,2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG),ENG
2,AC Voges,2015-2016,20,31,7,1485,269*,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS),AUS
3,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,SA),SA
4,GA Headley,1930-1954,22,40,4,2190,270*,60.83,416+,56.00,10,5,2,104,1,1930,1954,WI),WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981,AUS),AUS
58,GC Smith,2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA),ICC/SA
59,WH Ponsford,1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934,AUS),AUS
60,SJ McCabe,1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938,AUS),AUS
61,DR Jardine,1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934,ENG),ENG

In [258]:
df.dtypes

Player            object
Span              object
Matches            int64
Inns               int64
Not_outs           int64
Runs               int64
Highest Score     object
Ave              float64
Balls_Faced       object
Strike_rate      float64
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
start_year        object
end_year          object
country           object
Country           object
dtype: object

In [259]:
df['Highest Score'].str.split('*')

0       [334]
1       [186]
2     [269, ]
3       [274]
4     [270, ]
       ...
57      [250]
58      [277]
59      [266]
60      [232]
61      [127]
Name: Highest Score, Length: 62, dtype: object

In [260]:
df['Highest Score'] =  df['Highest Score'].str.split('*').str[0]

In [261]:
df['Highest Score'] = df['Highest Score'].astype(int)

In [262]:
df.dtypes

Player            object
Span              object
Matches            int64
Inns               int64
Not_outs           int64
Runs               int64
Highest Score      int32
Ave              float64
Balls_Faced       object
Strike_rate      float64
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
start_year        object
end_year          object
country           object
Country           object
dtype: object

In [263]:
df

,Player,Span,Matches,Inns,Not_outs,Runs,Highest Score,Ave,Balls_Faced,Strike_rate,100,50,0,4s,6s,start_year,end_year,country,Country
0,DG Bradman,1928-1948,52,80,10,6996,334,99.94,9800+,58.60,29,13,7,626,6,1928,1948,AUS),AUS
1,HC Brook,2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG),ENG
2,AC Voges,2015-2016,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS),AUS
3,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707+,54.48,7,11,1,246,11,1963,1970,SA),SA
4,GA Headley,1930-1954,22,40,4,2190,270,60.83,416+,56.00,10,5,2,104,1,1930,1954,WI),WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,1965-1981,74,125,14,5357,250,48.26,8662+,49.16,15,33,4,525,23,1965,1981,AUS),AUS
58,GC Smith,2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA),ICC/SA
59,WH Ponsford,1924-1934,29,48,4,2122,266,48.22,3118+,44.77,7,6,1,119,0,1924,1934,AUS),AUS
60,SJ McCabe,1930-1938,39,62,5,2748,232,48.21,3217+,60.02,6,13,4,241,5,1930,1938,AUS),AUS
61,DR Jardine,1928-1934,22,33,6,1296,127,48.00,2110+,25.59,1,10,2,53,0,1928,1934,ENG),ENG

In [264]:
df['Balls_Faced'] = df['Balls_Faced'].str.split('+').str[0]

In [265]:
df['Balls_Faced'] = df['Balls_Faced'].fillna(0)

In [266]:
df['Balls_Faced'] = df['Balls_Faced'].astype(int)

In [267]:
df.dtypes

Player            object
Span              object
Matches            int64
Inns               int64
Not_outs           int64
Runs               int64
Highest Score      int32
Ave              float64
Balls_Faced        int32
Strike_rate      float64
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
start_year        object
end_year          object
country           object
Country           object
dtype: object

In [268]:
df

,Player,Span,Matches,Inns,Not_outs,Runs,Highest Score,Ave,Balls_Faced,Strike_rate,100,50,0,4s,6s,start_year,end_year,country,Country
0,DG Bradman,1928-1948,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS),AUS
1,HC Brook,2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG),ENG
2,AC Voges,2015-2016,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS),AUS
3,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA),SA
4,GA Headley,1930-1954,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI),WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS),AUS
58,GC Smith,2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA),ICC/SA
59,WH Ponsford,1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS),AUS
60,SJ McCabe,1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS),AUS
61,DR Jardine,1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG),ENG

In [269]:
df.drop(['country'], axis=1)

,Player,Span,Matches,Inns,Not_outs,Runs,Highest Score,Ave,Balls_Faced,Strike_rate,100,50,0,4s,6s,start_year,end_year,Country
0,DG Bradman,1928-1948,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS
1,HC Brook,2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG
2,AC Voges,2015-2016,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS
3,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA
4,GA Headley,1930-1954,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS
58,GC Smith,2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA
59,WH Ponsford,1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS
60,SJ McCabe,1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS
61,DR Jardine,1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG

In [270]:
df = df.astype({'start_year':'int','end_year':'int' })

In [271]:
df.dtypes

Player            object
Span              object
Matches            int64
Inns               int64
Not_outs           int64
Runs               int64
Highest Score      int32
Ave              float64
Balls_Faced        int32
Strike_rate      float64
100                int64
50                 int64
0                  int64
4s                 int64
6s                 int64
start_year         int32
end_year           int32
country           object
Country           object
dtype: object

In [272]:
# row delete

In [273]:
df = df.drop(45, axis = 0)

In [274]:
df

,Player,Span,Matches,Inns,Not_outs,Runs,Highest Score,Ave,Balls_Faced,Strike_rate,100,50,0,4s,6s,start_year,end_year,country,Country
0,DG Bradman,1928-1948,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS),AUS
1,HC Brook,2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG),ENG
2,AC Voges,2015-2016,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS),AUS
3,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA),SA
4,GA Headley,1930-1954,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI),WI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS),AUS
58,GC Smith,2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA),ICC/SA
59,WH Ponsford,1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS),AUS
60,SJ McCabe,1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS),AUS
61,DR Jardine,1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG),ENG

In [275]:
df['career_length'] = df['end_year'] - df['start_year']

In [276]:
df

,Player,Span,Matches,Inns,Not_outs,Runs,Highest Score,Ave,Balls_Faced,Strike_rate,100,50,0,4s,6s,start_year,end_year,country,Country,career_length
0,DG Bradman,1928-1948,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS),AUS,20
1,HC Brook,2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG),ENG,1
2,AC Voges,2015-2016,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS),AUS,1
3,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA),SA,7
4,GA Headley,1930-1954,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI),WI,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS),AUS,16
58,GC Smith,2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA),ICC/SA,12
59,WH Ponsford,1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS),AUS,10
60,SJ McCabe,1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS),AUS,8
61,DR Jardine,1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG),ENG,6

In [277]:
dff = df.drop(['country'], axis=1)

In [278]:
dff

,Player,Span,Matches,Inns,Not_outs,Runs,Highest Score,Ave,Balls_Faced,Strike_rate,100,50,0,4s,6s,start_year,end_year,Country,career_length
0,DG Bradman,1928-1948,52,80,10,6996,334,99.94,9800,58.60,29,13,7,626,6,1928,1948,AUS,20
1,HC Brook,2022-2023,12,20,1,1181,186,62.15,1287,91.76,4,7,1,141,23,2022,2023,ENG,1
2,AC Voges,2015-2016,20,31,7,1485,269,61.87,2667,55.68,5,4,2,186,5,2015,2016,AUS,1
3,RG Pollock,1963-1970,23,41,4,2256,274,60.97,1707,54.48,7,11,1,246,11,1963,1970,SA,7
4,GA Headley,1930-1954,22,40,4,2190,270,60.83,416,56.00,10,5,2,104,1,1930,1954,WI,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,KD Walters,1965-1981,74,125,14,5357,250,48.26,8662,49.16,15,33,4,525,23,1965,1981,AUS,16
58,GC Smith,2002-2014,117,205,13,9265,277,48.25,15525,59.67,27,38,11,1165,24,2002,2014,ICC/SA,12
59,WH Ponsford,1924-1934,29,48,4,2122,266,48.22,3118,44.77,7,6,1,119,0,1924,1934,AUS,10
60,SJ McCabe,1930-1938,39,62,5,2748,232,48.21,3217,60.02,6,13,4,241,5,1930,1938,AUS,8
61,DR Jardine,1928-1934,22,33,6,1296,127,48.00,2110,25.59,1,10,2,53,0,1928,1934,ENG,6

In [279]:
dff['career_length'].mean()

13.311475409836065

In [280]:
year_mean = dff['career_length'].mean()

In [281]:
year_mean = round(year_mean, 2)

In [282]:
year_mean

13.31

In [283]:
result = f'The avearge year span for the player list is {year_mean} years'

In [284]:
result

'The avearge year span for the player list is 13.31 years'

In [285]:
df_ten = dff[dff['career_length']>10]['Strike_rate'].mean()

In [286]:
ten = round(df_ten, 2)

In [287]:
ten

47.95

In [289]:
dff[dff['start_year']<1960]['Player'].count()

23

In [297]:
dff.groupby('Country')['Highest Score'].max().reset_index().sort_values(by ='Highest Score', ascending = False)

    Country  Highest Score
5    ICC/WI            400
0       AUS            380
10       SL            374
11       WI            365
1       ENG            364
3   ICC/PAK            329
2   ICC/IND            319
8       PAK            313
9        SA            278
4    ICC/SA            277
6       IND            254
7        NZ            251
12      ZIM            232

In [298]:
dff.groupby('Country')['100','50','0'].mean()

C:\Users\danes\AppData\Local\Temp/ipykernel_54316/2408768519.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dff.groupby('Country')['100','50','0'].mean()

               100         50          0
Country
AUS      21.266667  28.933333   8.866667
ENG      12.384615  20.846154   4.307692
ICC/IND  29.500000  47.500000  12.000000
ICC/PAK  25.000000  46.000000  15.000000
ICC/SA   36.000000  48.000000  13.500000
ICC/WI   34.000000  48.000000  17.000000
IND      29.500000  36.500000  10.750000
NZ       18.500000  22.000000   6.000000
PAK      21.250000  28.000000   9.500000
SA        9.800000  20.200000   3.400000
SL       28.666667  44.000000  12.333333
WI       16.625000  25.625000   7.250000
ZIM      12.000000  27.000000   5.000000